

html, body {
    background-color: white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #2f3f3f;
}

.app {
    background-color: #f9f9f9;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #A070A0;

    font-size: 14pt;
    color: gray;
    font-weight: 700;
}

.app-inner {
    margin: 10px;
}

.input-category {
    margin: 15px 10px 10px 10px;
}

.game-count {
    font-size: small;
    color: lightgray;
}

.app .results {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 0.5em;
    min-height: 1em;
    display: none;
}

select {
    font-size: 12pt;
    font-weight: 600;

}

select {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: auto;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

select#platform {
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
    */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}

select:hover {
    border-color: #888;
}

select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

select option {
    font-weight:normal;
}


.autocomplete {
    position: relative;
    display: inline-block;
    font-size: medium;
}

input {
    border: 1px solid;
    border-color: #A0A0A0;
    border-radius: .5em;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

input:hover {
    border-color: #888;
}

input[type=text] {
background-color: #f1f1f1;
width: 100%;
}

input[type=submit] {
background-color: DodgerBlue;
color: #fff;
}

.autocomplete-items {
position: absolute;
border: 1px solid #d4d4d4;
border-bottom: none;
border-top: none;
z-index: 99;
/*position the autocomplete items to be the same width as the container:*/
top: 100%;
left: 0;
right: 0;
}

.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #fff;
border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
/*when hovering an item:*/
background-color: #e9e9e9;
}

.autocomplete-active {
/*when navigating through the items using the arrow keys:*/
background-color: DodgerBlue !important;
color: #ffffff;
}


button.submit {
    /* font-size: 14pt; */
    font-size: 18px;
    color: #444;
    border: 1px solid;
    border-color: #A0A0A0;
    border-radius: .5em;
    background-color: #f1f1f1;
    padding: 10px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    font-weight: 600;
}

button.submit:hover{
    border-color: #A070A0;
    border-width: 3px;
    background-color: #F7E8F7;
}

/* button.submit:select{
    border-color: #A070A0;
    border-width: 4px;
} */

