<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video game recommender</title>
    <link rel="stylesheet" href="static/css/app.css"/>
</head>
<body>
    <header>
        <h1>Video game recommender</h1>
    </header>
    <section>
        <p>
            Select a platform to search by, and enter genres to filter by.
            <br/>
            Then enter a game, and hit "recommend" to get a list of recommended related games.
        </p>

        <div class="app">
            <div class="platform-select">
                <label for="platform">Select a platform:</label>
                <br/>
                <select name="platform" id="platform">
                    {% for platform in platforms %}
                    <option value={{platform.id}}>{{platform.name}} ({{platform.num_games}} games)</option>
                    {% endfor %}
                </select>
            </div>
            <div class="genre-select">
                <label for="genre">Select genres you're interested in</label>
                <br/>
                <select name="genre" id="genre" multiple>
                    {% for genre in genres %}
                    <option value={{genre.id}}>{{genre.name}} 
                        ({{genre.num_games}} {% if genre.num_games != 1 %} games {% else %} game {% endif %})
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="game_input">Enter a game you want recommendations similar to</label>
                <br/>
                <div class="autocomplete" style="width:300px;">
                    <input name="game_input" id="game_input" type="text"/>
                </div>
            </div>
            <button class="submit" type="button">Recommend Me!</button>

            <div class="results">

            </div>
        </div>
    </section>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/app.js"></script>
</body>
</html>
