<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video game recommender</title>
    <link rel="stylesheet" href="static/css/app.css"/>
</head>
<body>
    <header>
        <h1>Video game recommender</h1>
    </header>
    <section>
        <p>
            Select a platform to search by, and enter genres to filter by.
            <br/>
            Then enter a game, and hit "recommend" to get a list of recommended related games.
        </p>

        <div class="app">
            <div class="app-input">
                <div class="platform-select input-category">
                    <label for="platform">Select a platform:</label>
                    <br/>
                    <select name="platform" id="platform">
                        {% for platform in platforms %}
                        <option value={{platform.id}}>{{platform.name}} 
                            <span class="game-count">({{platform.num_games}} games)</span>
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="genre-select input-category">
                    <label for="genre">Select genres you're interested in</label>
                    <br/>
                    <select name="genre" id="genre" multiple>
                        {% for genre in genres %}
                        <option value={{genre.id}}>{{genre.name}} 
                            <span class="game-count">
                                ({{genre.num_games}} {% if genre.num_games != 1 %} games{% else %} game{% endif %})
                            </span>
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="game-select input-category">
                    <label for="game_input input-category">Enter a game you want recommendations similar to</label>
                    <br/>
                    <div class="autocomplete" style="width:300px;" size="8">
                        <input name="game_input" id="game_input" type="text"/>
                    </div>
                </div>
                
                <div class="query-submit input-category">
                    <button class="submit" type="button">Recommend Me!</button>

                </div>
            </div>
            <div class="results">
    
            </div>
        </div>
    </section>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/app.js"></script>
</body>
</html>
